PORT=3000
NODE_ENV=development

# Rahasia Sesi & Token Kriptografi HMAC (Wajib diisi string acak)
SESSION_SECRET=

# Tanda Tangan Client AI Anti-Scraping
NEXT_PUBLIC_AI_CLIENT_SIGNATURE=

# Endpoint AI Engine
AI_API_ENDPOINT=https://api.overchat.ai/v1/chat/completions
AI_USER_AGENT=Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Mobile Safari/537.36

# Konfigurasi Database (MySQL / MariaDB)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=smk_telkom_jkt

# Konfigurasi SMTP Email (Untuk Pengiriman Kode OTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
